/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80vh;
}

.ticketDeCompra {
    border: 1px solid royalblue;
    border-radius: 3px;
    padding: 1rem;
}

/* Footer */
.footerText {
    text-align: center;
    font-size: 1.1rem;
}